				</div>
				

			</div>
			<!-- end #content -->
			<div style="clear: both;">&nbsp;</div>
		</div>
		<!-- end #page -->
	</div>

</div>
<div id="footer-bgcontent">
	<div id="footer">
		<p>Copyright (c) 2013 <a href="http://www.gedlux.es/">GEDLux Sistemas de Control.</a></p>
		<p>CSS template proporcionada por <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.</p>
	</div>
	<!-- end #footer -->
</div>
</body>
</html>


